ul {
    list-style-type: none;
    width: 250px;
    height: 250px;
}

ul li {
    width: 100px;
    padding: 15px;
    background-color: #524f4f;
}

ul li:hover {
    background-color: red;
    transition: 0.4s;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}